/* google fonts inter, poppins, roboto, lobster, manrope */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:250px;
    padding-left:250px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
}
.center{
    text-align: center;
    align-items: center;
    justify-content: center;
}
#section1{
    background-image: url(images/donation8.jpg);
    background-color: rgba(0, 0, 0, .4);
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    min-height: 669px;
}
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
}
.fist-section-para{
    width: 70%;
    color: #FFFFFF;
}
h2{
    margin-top: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
}
.donate-now{
    text-decoration: none;
    background: #FF5959;
    border-radius: 5px;
    padding: 16px 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.money{
    background: #FAFAFA;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
    margin-bottom: 0;
    padding: 44px 24px;
}
.money+.money{
    margin-left: 22px;
}
#default-money{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}
button{
    border: none;
}
#amount{
    width: 765px;
    border: none;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
#amount::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #B3B3B3;
}
#third-section{
    padding:0;
}
#our-donate-plan{
    margin: 0 250px;
}
#card-container{
    padding: 50px 155px 0px 157px;
}
.flex-text-left{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.flex-text-left+.flex-text-left{
    margin-left: 24px;
}
#first-card, #second-card, #third-card{
    border-radius: 5px;
    padding: 63.5px 22px 54px 23px;
}
#first-card{
    background: rgba(79, 157, 166, 0.1);
}
#second-card{
    background: rgba(255, 89, 89, 0.1);
}
#third-card{
    background: #FFF4D6;
}
#fourth-section{
    padding-left:157px;
    padding-right: 155px;
}
#volunteer-teacher{
    justify-content: space-between;
}
#recruitment-h2{
    margin-bottom: 70px;
}
.fourth-sec-div{
    width: 44%;
    background-color: #EDF5F6;
    border-radius: 5px;
}
.fourth-sec-img{
    width: 418px;
    height: 400px;
    border-radius: 5px 5px 0 0;
}
.recruitment-details{
    padding: 0px 30px 10px 30px;
}
.become{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}
.become:hover,.become:focus{
    opacity: .5;
}
h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}
h3~p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.icons{
    width: 70%;
}
.achievement-para{
    font-size: 24px;
    font-weight: 700;
    color: #0B0D17;
    margin-top: 0;
}
#form-div{
    background: #FFF4D6;
    padding: 76px 188px 76px 189px;
}
#email{
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    padding: 0;
    border: none;
}
#email:placeholder-shown{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 17px;
}
#subscribe{
    margin-left: -4px;
    padding: 14px 43px 14px 42px;
    color: #FFFFFF;
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
}
#last-sec-para{
    margin-bottom: 50px;
    padding: 0 70px;
}

footer{
    text-align: center;
    background: #0B0D17;
    padding-top: 43px;
    padding-bottom: 42px;
    margin-top:130px;
}
h5{
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #FF5959;
    margin: 0;
}
#footer-para{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    margin: 0;
    margin-top: 24px;
}