/* google fonts inter, poppins, roboto, lobster, manrope */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: 0;
    padding: 0;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
}
.center{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.flex-text-left{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#section1{
    background-image: url(images/donation8.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 669px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:250px;
    padding-left:250px;
}
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;
}
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #707070;
}
.white{
    color: #FFFFFF;
}
a{
    text-decoration: none;
    background: #FF5959;
    border-radius: 5px;
    padding: 16px 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
footer{
    text-align: center;
}